.scrolled-navbar {
  background: linear-gradient(
    135deg,
    rgba(11, 57, 210, 0.1),
    rgba(7, 43, 114, 1)
  ) !important;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.navbar {
  transition: bakcground-color 0.3s ease;
}
